.genres-page-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
}

/* NOTICE START */
.genres-page-container > .notice-container {
  background-color: #f444;
  color: #f44;
  padding: 20px 12px;
  margin-bottom: 20px;
}

.genres-page-container > .notice-container > .notice {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: center;
}

.genres-page-container > .notice-container > .notice > a {
  color: inherit;
  font-weight: bold;
}
/* NOTICE END */

/* HEADER START */
.genres-page-container > .header-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.genres-page-container > .header-container > .title {
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media (max-width: 420px) {
  .genres-page-container > .header-container > .title {
    font-size: 1.1rem;
  }
}

.genres-page-container > .header-container > .search-bar {
  background-color: #242424;
  color: inherit;
  height: 40px;
  width: 320px;
  padding: 0 8px;
  font-size: 1rem;
  border: 1px solid #eee;
}

.genres-page-container > .header-container > .search-bar:focus {
  outline: 1px solid #eee;
}

@media (max-width: 540px) {
  .genres-page-container > .header-container > .search-bar {
    width: 220px;
  }
}

@media (max-width: 420px) {
  .genres-page-container > .header-container > .search-bar {
    height: 35px;
    width: 180px;
  }
}
/* HEADER END */

/* GENRE START */

.genres-page-container > .genres-container {
  width: 90%;
  margin: 0 auto;
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 4px;
  padding-top: 20px;
  cursor: pointer;
}

.genres-page-container > .genres-container[data-split="true"] {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 720px) {
  .genres-page-container > .genres-container[data-split="true"] {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* GENRE END */
