.recently-added-page-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* TITLE START */
.recently-added-page-container > .title-container {
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  border-radius: 4px;
}

.recently-added-page-container > .title-container > .title {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
}
/* TITLE END */
