.home-page-container {
  position: relative;
}

.home-page-container > .header-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  .home-page-container > .header-container {
    max-width: 940px;
  }
}

/* TITLE START */
.home-page-container > .header-container > .title-container {
  width: 95%;
  margin-bottom: 20px;
}

.home-page-container > .header-container > .title-container > .title {
  text-align: center;
  font-size: 4rem;
}

@media (max-width: 720px) {
  .home-page-container > .header-container > .title-container > .title {
    font-size: 3rem;
  }
}

@media (max-width: 412px) {
  .home-page-container > .header-container > .title-container > .title {
    font-size: 2.3rem;
  }
}

.home-page-container > .header-container > .title-container > .headline {
  text-align: center;
  font-style: italic;
}
/* TITLE END */

/* SEARCH BAR START */
.home-page-container > .header-container > .search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-container > .header-container > .search-container > .search-field {
  background-color: #323232bb;
  border: 1px solid #eee3;
  color: inherit;
  width: 100%;
  height: 50px;
  padding: 8px;
  font-size: 1.2rem;
}

.home-page-container
  > .header-container
  > .search-container
  > .search-field:focus {
  outline: 1px solid #eee;
}

.home-page-container > .header-container > .search-container > .search-btn {
  background-color: #242424;
  text-decoration: none;
  color: inherit;
  border: 1px solid #eee3;
  height: 50px;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 150ms;
}

.home-page-container
  > .header-container
  > .search-container
  > .search-btn:focus {
  outline: 1px solid #eee;
}

@media (hover: hover) {
  .home-page-container
    > .header-container
    > .search-container
    > .search-btn:hover {
    border-color: #eee;
  }
}

@media (max-width: 480px) {
  .home-page-container > .header-container > .search-container > .search-btn {
    font-size: 1.2rem;
  }
}

/* SEARCH BAR END */
