.list-container > .book-container {
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 16px;
  gap: 10px;
  border: 2px solid #000;
  transition: all 100ms;
}

@media (hover: hover) {
  .list-container > .book-container:hover {
    border: 2px solid #eee !important;
    box-shadow: 2px 8px 20px rgba(255, 255, 255, 0.15);
  }
}

@media (max-width: 720px) {
  .list-container > .book-container {
    flex-direction: column;
  }
}

/* LEFT START */
.list-container > .book-container > .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container > .book-container > .left > .cover {
  height: 150px;
  width: 100px;
  object-fit: cover;
}
/* LEFT END */

/* RIGHT START */
.list-container > .book-container > .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .title-container {
  /* background-color: #0003; */
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .title-container
  > .title {
  color: inherit;
  font-size: 1.1rem;
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .title-container
  > .author {
  color: inherit;
  font-size: 1.1rem;
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .info-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 560px) {
  .books-list-container
    > .list-container
    > .book-container
    > .right
    > .info-container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .info-container
  > .info {
  padding-right: 10px;
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .info-container
  > .info
  > span {
  font-weight: 600;
}

.books-list-container
  > .list-container
  > .book-container
  > .right
  > .info-container
  > .info.views {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

/* RIGHT END */
