.books-list-container {
  width: 100%;
  max-width: 1140px;
  padding: 20px 20px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .books-list-container {
    max-width: 940px;
  }
}

.books-list-container > .main-title {
  /* background-color: #fff; */
  /* background-color: #12121277; */
  border: 1px solid #4e4e4e;
  border-bottom: transparent;
  border-radius: 4px 4px 0px 0px;
  padding: 6px;
  font-weight: 400;
  font-size: 1.2rem;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: 0 2px;
}

.books-list-container > .list-container {
  /* background-color: #12121277; */
  display: flex;
  flex-direction: column;
  /* padding: 20px 0 0 0; */
  padding: 4px;
  gap: 4px;
  border: 1px solid #4e4e4e;
  border-radius: 0px 4px 0px 0px;
}
